<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<properties>
		<property name="app.name">mycamelboots</property>
		<property name="pattern">%d{ISO8601} %-5p %c - %m%n</property>
	</properties>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingRandomAccessFile name="appfile"
			append="false" fileName="target/logs/app.log"
			filePattern="./$${date:yyyy-MM}/${app.name}-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="csvfile"
			append="false" fileName="target/logs/csv.log"
			filePattern="./$${date:yyyy-MM}/${app.name}-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout pattern="%d{HH:mm:ss.SSS};[%t];%-5level;%logger{36};%msg%n" />
			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
		<RollingRandomAccessFile name="errorfile"
			append="false" fileName="target/logs/error.log"
			filePattern="./$${date:yyyy-MM}/error-%d{yyyy-MM-dd}-%i.log.zip">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />

			<Policies>
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
			<DefaultRolloverStrategy max="10" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<Logger name="fi.aapala" level="info" additivity="false">
			<AppenderRef ref="Console" />
			<AppenderRef ref="appfile" />
		</Logger>
		<Root level="info">
			<AppenderRef ref="Console" />
			<AppenderRef ref="errorfile" />
		</Root>
	</Loggers>
</Configuration>